body {
    margin:0;
}

.menu {
    margin-top: 0px;
}

*{
    box-sizing: border-box;
}

a:link{
    color:royalblue;
    text-decoration: none;
}

a:visited{
    color:royalblue;
}

a:hover{
    color:royalblue;
}
