

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: tahu;
    margin: 0px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: tahu;
    font-size: 100px;
    margin: 75px;
}

.menu li{
    margin-right: 10px;
}

.cr4bstudio{
    text-align:center;
    font-size: 1250%;
    font-family: japaneseRobot;
    color:plum;
}

.hyperlink{
    font-size: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.about-picture {
    max-width: 200px;
    max-height:fit-content;
}

.goBack-picture {
    max-width: 150px;
    max-height: 150px;

}



/*
Font Settings
*/

@font-face {
    font-family: japaneseRobot;
    src: url(/fonts/robot/japanese_robot_italic-webfont.woff);
    src: url(/fonts/robot/japanese_robot_italic-webfont.woff2);
}

@font-face {
    font-family: tahu;
    src: url(/fonts/tahu/tahu-webfont.woff);
    src: url(/fonts/tahu/tahu-webfont.woff2);
}

.aboutMeMenu{
    margin-left: 0px;
    margin-top: 50px;
}

.introduction {
        font-family: japaneseRobot;
        margin-top: 75px;
        margin-left: 125px;
        font-size: 100%;
}

.aboutMeTitle {
    font-size: 250%;
}

.descriptionText {
    font-size: 150%;
    margin-top: 25px;
    float: left;
    clear: left;
    line-break: anywhere;
}

#content::after {
    content: "\A";
    white-space: pre;
}

.projectImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button{
    border:none;
    text-decoration: none;
    background-color: magenta;
    cursor:pointer;
    border: 2px solid black;
}
